@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}


.image-background {
  position: relative; 
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/guibela.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slogan {
  text-align: center;
  color: #ffffff;
  padding: 0 2rem;
  max-width: 700px;
}

.hero-slogan h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-slogan h2 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-slogan p {
  font-size: 2rem;
  line-height: 1.6;
}


.who-are-we-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  min-height: 80vh;
  background-color: #f9f9f9;
}

.who-are-we {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  max-width: 1200px;
  width: 100%;
}

.who-are-we-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.who-are-we-image img {
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.who-are-we > div:nth-child(2) {
  flex: 1;
}

.who-are-we h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #333;
}

.who-are-we p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #555;
}

.hero-content {
  padding-top: 20px;
  text-align: center;
}

.services-container {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.services-container h1 {
  font-size: 2rem;
  color: #333;
}

.hero-slogan button {
  padding: 16px 40px;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(90deg, #00bcd4, #008c9e);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.hero-slogan button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  background: linear-gradient(90deg, #008c9e, #00bcd4);
}



/* Responsivo para telas pequenas */
@media (max-width: 768px) {
  .who-are-we {
    flex-direction: column;
    text-align: center;
  }

  .who-are-we-image {
    margin-bottom: 2rem;
  }
   .image-background {
    background-position: top center; /* foca no topo da imagem em mobile */
  }
}



